@font-face {
  font-family: 'Montserrat-regular';
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-semibold';
  src: url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-extrabold';
  src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-black';
  src: url('../fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --purple-color: #735da8;
  --purple-light-color:#f4eff5;
  --purple-dark-color: #6e59a1;
  --main-text-color:#2A2A2A;
  --main-black-color: black;
  --main-white-color: white;
  --light-color: #eee;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Montserrat-regular', sans-serif;
  color: var(--main-text-color);
  font-size: 1.6rem;
}

body, html{
  height: 100%;
  width: 100%;
  margin: 0;
}

/* PAGINA PRINCIPAL */


#mainPortada{
  background-image: url("../img/portada.jpg");
  background-size:contain;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
  background-position:center center;
  background-color: var(--purple-color);
  display: grid;
  grid-template-rows: 85% 15%;
  padding-bottom: 10px;
}

#mainPortada .content{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

#mainPortada h1{
  color:var(--main-black-color);
  font-family: 'Montserrat-semibold';
  text-transform: uppercase;
  font-size: 2.5rem;
  font-size: calc(2rem + .2vw);
  grid-row-start: 2;
  text-align: center;
}
#mainPortada .logo{
  height:100%;
  width:100%;
  grid-row-start: 1;
  object-fit: contain;
  margin: 0;
  max-height: 100px;
  margin-top: 10px;
}

@media (min-width: 0){
  #mainPortada h1{
    font-size: calc(1rem + .2vw);
  }
  #mainPortada .logo{
    transform: scale(0.7);
  }
  #portada header > .container > a {
    display: none;
  }
  #portada header div {
    justify-content: space-around;
  }
}

@media (min-width: 576px){
  #mainPortada h1{
    font-size: calc(1rem + .2vw);
  }
  #mainPortada .logo{
    transform: scale(0.7);
  }
  #portada header > .container > a {
    display: none;
  }
  #portada header div {
    justify-content: space-around;
  }
}

@media (min-width: 768px){
  #mainPortada h1{
    font-size: calc(1rem + .2vw);
  }
  #mainPortada .logo{
    transform: scale(0.7);
  }
  #portada header > .container > a {
    display: none;
  }
  #portada header div {
    justify-content: space-around;
  }
}

@media (min-width: 992px){
  #mainPortada h1{
    font-size: calc(1.5rem + .2vw);
  }
  #mainPortada .logo{
    transform: scale(0.7);
  }
  #portada header > .container > a {
    display: none;
  }
  #portada header div {
    justify-content: space-around;
  }
}

@media (min-width: 1200px){
  #mainPortada h1{
    font-size: calc(1.5rem + .2vw);
  }
  #mainPortada .logo{
    transform: scale(0.7);
  }
  #portada header > .container > a {
    display: none;
  }
  #portada header div {
    justify-content: space-around;
  }
}

/* CABECERA */

header{
  text-align:center;
  box-shadow: 0px 0px 8px rgba(0,0,0,.6);
  z-index: 10;
  position: sticky;
  background-color: var(--main-white-color);
  top: 0;
}

header div{
  padding: 20px;
}

@media (min-width: 0) {
    header div{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
}
@media (min-width: 576px) {
    header div{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
}
@media (min-width: 1200px) {
    header div{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
}

header a{
  text-decoration: none;
  color: var(--main-text-color);
  margin: 0px 15px;
  font-family: 'Montserrat-semibold', sans-serif;
  font-size: calc(1rem + .2vw);
}

header a:hover{
  color: var(--purple-dark-color);
}

header a figure{
  width: 200px;
  margin-inline-start: auto;
}

header a figure img{
  max-width: 100%;
}

header .container{
  margin: 0 auto;
}

nav ul{
  padding: 0px;
}

nav ul li {
  display: inline-block;
  font-size: 1.2rem;
  font-family: 'Montserrat-regular', sans-serif;
  padding-left: 0;
}

nav ul li.active a {
  border-bottom: 1px dotted var(--main-text-color);
  padding-bottom: 5px;
  font-family: 'Montserrat-black';
  color: var(--main-text-color);
}

/* CONTENEDORES GENERALES */

body{
  background-color: var(--purple-light-color);
}

main {
  padding-bottom: 50px;
}

main > section{
  height: 100%;
}

main section > div{
  width:100%;
  margin: 0 auto;
}

article {
  text-align: justify;
}

abbr{
  text-decoration: none;
}

@media (max-width: 576px) {
   main section > div{
      max-width: 540px;
  }
}

@media (min-width: 992px) {
  main section > div {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  main section > div {
      max-width: 1140px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 4%;
  padding-left: 4%;
  width: 100%;
}

@media (min-width: 0){
  .container{
    max-width: 92%;
  }
}

@media (min-width: 576px){
  .container{
    max-width: 92%;
  }
}

@media (min-width: 768px){
  .container {
    max-width: 92%;
  }
}

@media (min-width: 992px){
	.container{
		max-width: 92%;
  }
}

@media (min-width: 1200px){
	.container {
    max-width: 900px;
  }
}

/* TITULOS */

.tituloSection{
  font-size: 2.8rem;
  font-family: 'Montserrat-ExtraBold';
  text-transform: uppercase;
}

.titleArticle{
  font-family: 'Montserrat-black';
  font-size: 1.1rem;
  text-transform: uppercase;
}

.titleSubsection{
  font-size: 2.2rem;
  font-family: 'Montserrat-regular';
  text-transform: uppercase;
}

h1 {
  margin: 20px auto 20px auto;
}

/* ELEMENTOS MULTIMEDIA ARTICULO */

.figurePost {
  display: flex;
  justify-content: center;
}

.imagePost {
  max-width: 100%;
  height: auto;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: 0px;
}


/* CATEGORIAS */

.characters{
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  text-align: left;
  padding: 0;
}

.characters li {
  list-style-type: none;
}

.characters a{
  text-decoration: none;
  color: var(--main-text-color);
}

.characters li:hover h2{
  color: var(--purple-dark-color);
}

.characters picture{
  display: flex;
  flex-direction: column;
}

@media (min-width: 0){
	.characters{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
  }
  #detalle .characters{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
  }
}

@media (min-width: 576px){
  .characters{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
  }
  #detalle .characters{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
  }
}

@media (min-width: 1200px){
	.characters, #detalle .characters{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
  }
  .characters picture img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .characters picture:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/* DETALLE PERSONAJE */

.mainCharacters > picture{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  background: var(--main-white-color);
  padding: 10px;
  border: 1px solid var(--light-color);
}

#imgDetail{
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}

#imgDetail > img{
  max-width: 100%;
  height: auto;
}

.descriptionDetail{
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  align-items: center;
  margin-top: 20px;
}

@media (min-width: 0){
	.descriptionDetail{
    display:block;
  }
}

@media (min-width: 768px){
  .descriptionDetail{
    display: grid;
  }
}

.listDetail ul{
  padding-inline: 20px;
}

.listDetail ul li{
  font-family: 'Montserrat-semibold';
  padding-bottom: 40px;
}

.listDetail ul li p {
  font-family: 'Montserrat-regular';
}

.listDetail picture {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  background: var(--main-white-color);
  padding: 10px;
  border: 1px solid var(--light-color);
}

.listDetail picture img{
  max-width: 100%;
  height: auto;
}

.mainCharacters li{
  cursor: pointer;
}

/* PERSONAJES - DETALLE */
#figureMain{
  display:flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding: 10px;
}

.oculto{
  display: none;
}

#listaLinks li{
  padding: 10px 0px;
}
#listaLinks a{
  word-wrap: break-word;
}

.links {
  font-style: italic;
}

.lazyframe[data-vendor="youtube"]{
  background-color: var(--main-black-color);
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: var(--main-white-color);
  color: var(--main-text-color);
}

footer a{
  text-decoration:none;
  color: var(--main-text-color);
  margin: 0px 5px;
}

footer .content{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  align-items: baseline;
  position: relative;
}

footer .content::after{
  content: '';
  width: 100%;
  border-bottom: solid 1px var(--main-text-color);
  position: absolute;
  left: 0;
  top: 63%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

footer figure {
  width: 150px;
}

footer img {
  max-width: 100%;
}

@media (min-width: 0){
  footer .content{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    align-items: baseline;
    justify-items: center;
    max-width: 92%;
  }
}
@media (min-width: 576px){
  footer .content{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    align-items: baseline;
    justify-items: center;
	  max-width: 540px;
  }
}
@media (min-width: 768px){
  footer .content{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    align-items: baseline;
    justify-items: center;
		max-width: 720px;
	}
}
@media (min-width: 992px){
	footer .content {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    align-items: baseline;
    justify-items: center;
    max-width: 960px;
  }
}
@media (min-width: 1200px){
  footer .content {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    align-items: baseline;
    justify-content: space-between;
    justify-items: stretch;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1140px;
  }
}

@media (min-width: 0){
    footer .content > nav{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      margin-bottom: 20px;
    }
}

@media (min-width: 576px){
  footer .content > nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px){
  footer .content > nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }
}

footer nav{
  font-family: 'Montserrat-semibold';
}

footer nav > span{
  padding-top: 12px;
}

footer nav > ul{
  margin-left: 20px;
}

footer nav a:hover{
  opacity: 0.7;
}

#author{
  font-family: 'Montserrat-regular';
  font-size:1.2rem;
  margin-top: 30px;
}

/* animacion svg */
.svgCafe {
  display: flex;
  justify-content: center;
}

.svgCafe svg{
  max-height: 200px;
}

.svgCafe svg path{
  stroke-dashoffset: 910;
  stroke-dasharray: 910;
  animation: draw 5s forwards;
}

.svgCafe svg g {
  fill-opacity: 0;
  animation: fill-in 2s 10s forwards;
}

@keyframes draw{
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fill-in{
  to{
    fill-opacity: 1;
  }
}
.sofa{
  animation: 2s infinite alternate circle;
  height:100%;
  width:100%;
  object-fit: contain;
  margin: 0;
  max-height: 200px;
  margin-top: 10px;
}

@keyframes circle {
  from {
    -webkit-clip-path: circle(0%);
    clip-path: circle(0%);
  }
  to {
    -webkit-clip-path: circle(120px);
    clip-path: circle(120px);
  }
}

.hidden{
  display: none;
}

.showPictureMain{
  display: flex;
  justify-content: center;
}
